fastapi==0.65.2
alembic==1.6.2
psycopg2_binary==2.8.6
uvicorn==0.13.4
databases[postgres]==0.4.3
asyncpg==0.22.0
orjson==3.5.2
python-jose==3.2.0
python-multipart==0.0.5
Pillow==9.0.0
timezonefinder==5.2.0
pytz==2021.1
pyheif-pillow-opener==0.1.0
